<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Walking_Anim</key>
	<dict>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,2,1,4,5,4</string>
		<key>filenamePrefix</key>
		<string>AFC</string>
	</dict>
	<key>Standing_Anim</key>
	<dict>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1</string>
		<key>filenamePrefix</key>
		<string>AFC</string>
	</dict>
	<key>Crouching_Anim</key>
	<dict>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,6,7,8,9</string>
		<key>filenamePrefix</key>
		<string>AFC</string>
	</dict>
	<key>Prone_Anim</key>
	<dict>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>9,10,11,12,13</string>
		<key>filenamePrefix</key>
		<string>AFC</string>
	</dict>
</dict>
</plist>
